body {
    margin: 1%;
}
a {
    text-decoration: none;
    color: #002855;

}

h4 {
    color: cadetblue;
    font-size: larger;
    letter-spacing: 2px;
}
/* sticky nav */

.nav-container {
    padding-right: 20px;
    /* margin-right: 20px; */
    position: fixed;
    /* background-color: white; */
    /* padding: 10px; */
    top: 10px;
    right: 20px;
    align-items: center;
    /* border-radius: 50%; */
}
.nav-icon:hover {
    border: 2px solid #cfb98e;
    background-color: #cfb98e;
}
.nav-icon {
    float: right;
    margin: 20px;
    padding: 10px;
    border: 1px solid #002855 ;
    background-color: white;
    border-radius: 30px;
    font-family: Arial, sans-serif;
    font-size: medium;
    border: 3px solid #002855;    
}
/* header css */
.header {
    margin-top: 100px;
    margin-left: 40px;
    position: relative;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.header-tag {
    border: 1px solid #002855 ;
    background-color: #002855;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
    font-family: Arial, sans-serif;
    font-size: smaller;
    display: inline-block;
}
.header p {
    margin: 25px 50px 45px 0;
    color: grey;
    letter-spacing: 2px;
}

h5 {
    font-size:20px;
    letter-spacing: 3px;
}
.cva {
    text-decoration: none;
    color: white;
    border-radius: 30px;
    text-transform: uppercase;
    font-family: Calibre-SemiBold,sans-serif; 
    letter-spacing: 3px;
    border: 1px solid olivedrab; 
    background-color: olivedrab;
    padding: 10px;
    margin-top: 30px;
    font-size: small;
}
.cva:hover {
    border: 2.5px solid olivedrab;     
}
h2 {
    padding-left: 10px;
    text-decoration: underline;
    text-decoration-color: #002855;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 3px;

}
/* icon css */

.icon img {
    width: 200;
    height: 200;
    padding: 20px;
    /* border-radius: 50%; */
    /* background: white; */
}
.header-text {
    position: relative;
    /* right: 60px; */
}
/* projects css */

.projects {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 40px;
}
.skills {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 20px;
}
.project-card {
    color: #011c3b;
    background-image: linear-gradient(to left bottom, #cfb98e, #d7c89f, #dfd7b0, #e8e5c2, #f2f4d4);
    border-radius: 15px;
    height: 300px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.project-card a {
    text-decoration: line-through;
    font-size: smaller;
}
.project-card a:hover {
    /* border: 1px solid #002855; */
    /* border-radius: 50%; */
    font-size: large;
    color: brown;
    /* border: 2px dotted gray; */
    border-radius: 50%;
    text-decoration: none;
    margin: 0%;
    padding: 0%;
}
.skills-card {
    color: #002855;
    background-image: linear-gradient(135deg,#e6beae 10%,#e7d8c9);
    padding: 5px;
    border-radius: 15px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.skills-card p {
    padding-left: 10px ;
}
.card {
    color: #002855;
    background-image: linear-gradient(135deg,#e6beae 10%,#e7d8c9);
    padding: 5px;
    border-radius: 15px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.name {
    letter-spacing: 4px;
    font-family: cursive;
    font-weight: bolder;
}
.card p {
    padding-left: 10px;
    padding-bottom: 0px;
}
.tag {
    border: 1px solid #002855 ;
    background-color: #002855;
    color: wheat;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
    font-family: Arial, sans-serif;
    font-size: smaller;
    display: inline-block;
}

/* footer css */

.contact-col {
    max-width: 270px;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.contact {
    color: black;
    margin: 50px auto -50px;
    width: 90%;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(90deg, #3f87a6, #ebf8e1, #f69d3c);
}
.contact-col img {
    width: 200px;
    height: 200px;
    padding: 10px;
}
.footer-anchor {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      .header-text {
        position: relative;
        padding: 10px;
        /* right: 60px; */
    }	
    .nav-container {
        padding-right: 20px;
        /* margin-right: 20px; */
        position: fixed;
        /* float: right; */
        /* background-color: white; */
        /* padding: 10px; */
        top: 10px;
        right: 0px;
        align-items: flex-end;
        /* border-radius: 50%; */
    }
    .nav-icon:hover {
        border: 2px solid goldenrod;
        background-color: goldenrod;
    }
    .nav-icon {
        margin: 3px;
        padding: 0px;
        background-color: white;
        border-radius: 30px;
        font-size: medium;
        border: 3px solid #002855;

    }
    .contact {
        /* color: white; */
        margin: 50px auto -50px;
        width: 90%;
        padding: 5px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: linear-gradient(90deg, #3f87a6, #ebf8e1, #f69d3c);
    }	

}
@media only screen and (max-width: 480px) {
      .header {
        /* margin-top: 100px; */
    /* margin-left: 40px; */
    /* position: absolute; */
    /* min-height: 400px; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      .nav-container {
        padding-right: 20px;
        /* margin-right: 20px; */
        position: fixed;
        /* float: right; */
        /* background-color: white; */
        /* padding: 10px; */
        top: 10px;
        right: 0px;
        align-items: flex-end;
        /* border-radius: 50%; */
    }
    .nav-icon:hover {
        border: 2px solid #cfb98e;
        background-color: #cfb98e;
    }
    .nav-icon {
        margin: 3px;
        padding: 10px;
        background-color: white;
        border-radius: 30px;
        font-size: medium;
        border: 3px solid #002855;

    }
    .header-text {
        position: relative;
        padding: 10px;
        /* right: 60px; */
    }	
    .project-card {
        height: 500px;
    }
    
    .skills-card {
        margin-left: 10px;
    }
    .contact {
        /* color: white; */
        margin: 50px auto -50px;
        width: 90%;
        padding: 5px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: linear-gradient(90deg, #3f87a6, #ebf8e1, #f69d3c);
    }	
}


#show,#content {
    opacity: 0;
}
#content {
    float: left;
    
}
#hide {
    float: right;
}
#show:checked~#content{
    /* display: inline-block; */
    opacity: 1;
}
#show:checked~#hide{
    display: none;
    opacity: 0;
}
.transit {
    transition: all 1s ease-in-out;
}

#gallery { position: relative;  }
#gallery ul { 
             list-style-type: none; }

#gallery li { display: inline-block; 
			  padding: 20px; }
#gallery img { 
    border-style: none; 
    display: inline-block;
}


#gallery li:hover img { 
    border-radius: 50px;
    transform: scale(0.75);
    margin: 20px;
    padding: 20px;
} 
#gallery figure {
    border: thin #002855 solid;
    padding: 15px;
    margin: auto;
    border-radius: 50px;
}

#gallery figcaption {
    opacity: 1;
    text-align: center;
    /* background-color: whitesmoke; */
    color: #002855;
    padding: 5px;
}
#gallery li:hover figcaption { 
    opacity: 0;
    border-radius: 50px;
} 