
@media only screen and (max-width: 1112px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .header-text {
        position: relative;
        padding: 10px;
        /* right: 60px; */
    }	
    
    .nav-container {
        padding-right: 20px;
        /* margin-right: 20px; */
        position: fixed;
        /* float: right; */
        /* background-color: white; */
        /* padding: 10px; */
        top: 10px;
        right: 0px;
        align-items: flex-end;
        /* border-radius: 50%; */
    }
    .nav-icon:hover {
        border: 2px solid goldenrod;
        background-color: goldenrod;
    }
    .nav-icon {
        margin: 3px;
        padding: 10px;
        background-color: white;
        border-radius: 30px;
        font-size: medium;
        border: 3px solid #002855;

    }
    .project-card {
        height: 500px;
    }
    .card {
        height: 400px;
    }
    .contact {
        /* color: white; */
        margin: 50px auto -50px;
        width: 90%;
        padding: 5px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: linear-gradient(90deg, #3f87a6, #ebf8e1, #f69d3c);
    }	
    

}
@media only screen and (max-width: 480px) {
      .header {
        /* margin-top: 100px; */
    /* margin-left: 40px; */
    /* position: absolute; */
    /* min-height: 400px; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      #gallery li:hover img { 
        border-radius: 50px;
        transform: scale(1);
        margin: 10px;
        padding: 10px;
    } 
      #night-mode {
        position: fixed;
        z-index: 4;
        top: 5px;
        left: 2px;
        height: 20px;
        width: 50px;
     }
     #night-mode::before {
        height: 20px;
        width: 20px;
     }
    .nav-icon:hover {
        border: 2px solid #cfb98e;
        background-color: #cfb98e;
    }
    .nav-icon {
        margin: 3px;
        padding: 10px;
        background-color: white;
        border-radius: 30px;
        font-size: medium;
        border: 3px solid #002855;

    }
    .header-text {
        position: relative;
        padding: 10px;
        /* right: 60px; */
    }	
    .project-card {
        height: 500px;
    }
    .skills {
        padding-left: 5px;
    }
    .skills-card {
        margin-left: 10px;
        margin-right: 10px;
    }
    .contact {
        /* color: white; */
        margin: 50px auto -50px;
        width: 90%;
        padding: 5px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: linear-gradient(90deg, #3f87a6, #ebf8e1, #f69d3c);
    }	
    
    .nav-container {
        padding-right: 20px;
        /* margin-right: 20px; */
        position: fixed;
        /* float: right; */
        /* background-color: white; */
        /* padding: 10px; */
        top: 10px;
        right: 0px;
        align-items: flex-end;
        /* border-radius: 50%; */
    }
}


