$link_color: #002855;
$h4_color: cadetblue;
$text-my-color: #002855;
@function set-text-color($light) {
    @if($light) {
        @return white;
    }
    @else {
        @return rgb(42, 41, 41);
    }
}
@import '_nav';
@import '_cards';
@import '_custom';
@import '_header';
@import '_media';

body {
    margin: 1%;
}
a {
    text-decoration: none;
    color: $link_color;

}

h4 {
    color: $h4_color;
    font-size: larger;
    letter-spacing: 2px;
}